@media (min-width: 992px) and (max-width: 1191px) {
  .package-page .row {
    margin: 0 -15px;
  }
  .package-page .row .col-lg-4 {
    padding: 0 15px;
  }
  .package-page .single-package {
    margin-bottom: 30px;
  }
  .cart-invoice .c-button .btn1 {
    max-width: 135px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .cart-invoice .c-button .btn1:first-child {
    margin-right: 5px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* .package-details .container,
  .package-page .container, .shopping-cart .container {
    max-width: 820px;
  } */
  .container {
    max-width: 1000px;
  }
  footer .m-top {
    margin-top: 20px;
  }
  footer .support-social {
    display: flex;
    align-items: flex-start;
    margin: 0 -50px;
  }
  footer .support-social .single-footer {
    padding: 0 50px;
  }
  footer .single-footer.social-links {
    margin-top: 0;
  }
  .testimonial .testimonial-slider .item {
    padding: 20px 10px;
  }
  .home-slider .txt-form .txt h1 {
    font-size: 34px;
  }
  .tabs-form ul li a {
    font-size: 15px;
    font-weight: 500;
  }
  .facility-body .single-facility-wrapper {
    padding: 0 5px;
  }
  .facility-body {
    margin: 0 -5px;
  }
  .facility-body .single-facility-wrapper .single-facility img {
    height: 45px;
  }
  .facility-body .single-facility-wrapper .single-facility h2 {
    font-size: 14px;
    font-weight: 500;
  }
  .why-shipping-key .wrapper {
    padding: 30px 20px;
  }
  header nav ul li {
    padding: 0 10px;
  }
  header nav ul {
    margin: 0px -10px;
  }
  .section-padding {
    padding: 50px 0;
  }
  .our-services .facility-body .single-facility-wrapper {
    width: 49%;
    padding: 0 5px 10px;
  }
  .our-services .service-txt p {
    font-size: 14px;
  }
  .package-we-offer .row {
    margin: 0 -5px;
  }
  .package-we-offer .row .col-xs-12 {
    padding: 0 5px;
  }
  .single-package .body {
    padding: 10px;
  }
  .single-package .body .buttons .btn1 {
    padding: 5px 20px;
  }
  .single-package {
    margin: 0 0 10px;
  }
  .service-list .col-lg-4 {
    margin: 0 0 20px;
  }
  .single-service {
    padding: 20px 20px;
  }
  .single-service h2 {
    font-size: 16px;
  }
  .contact-us .enquiry-form .form-body {
    padding: 20px;
  }
  .heading h2 {
    font-size: 26px;
  }

  .package-body .row {
    margin: 0 -10px;
  }

  .package-body .row .col-lg-4 {
    padding: 0 10px;
  }

  .package-body .single-package {
    margin: 0 0 20px;
  }

  .package-body .single-package .btn1 {
    padding: 5px 15px;
  }
  .cart-invoice .c-button .btn1 {
    max-width: 135px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .cart-invoice .c-button .btn1:first-child {
    margin-right: 5px;
  }
  .sub-service-text .sst-body {
    padding: 15px;
  }
  .sub-service-text .sst-body .services-list .column ul li {
    font-size: 14px;
  }
  ul.offer-list li p {
    font-size: 15px;
  }
  .single-cart .img {
    width: 90px;
    height: 65px;
  }
  .single-cart .txt {
    margin-left: 105px;
  }
  .single-cart .txt h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .section-padding {
    padding: 40px 0;
  }
  /***top strip***/
  .top-strip .social-links {
    text-align: left;
  }
  .top-strip {
    display: none;
  }
  /**header**/
  header .toggle-menu {
    display: inline-block;
    transition: all 0.3s;
  }
  header nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #060418;
    height: 100%;
    z-index: 99;
    padding: 20px;
    display: none;
  }
  header nav ul {
    display: block;
    padding: 0 15px;
  }
  header nav ul li {
    display: block;
    padding: 10px 0;
  }
  header nav ul li a {
    font-size: 18px;
    padding: 0;
    color: #fff;
    font-weight: 500;
  }
  header .logo img {
    width: 110px;
  }
  header nav ul li .signin {
    margin: 0;
  }
  header nav ul li a span {
    margin: 0;
  }
  header nav ul li a .my-profile {
    display: none;
  }
  header nav ul li.user-profile {
    display: none;
  }
  header .m-profile-box {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: inline-block;
  }
  /********home slider*********/
  .home-slider .txt-form .txt h1 {
    font-size: 24px;
  }
  .home-slider .txt-form .txt a {
    border-radius: 6px;
    padding: 8px 30px;
    font-size: 15px;
  }
  .home-slider .txt-form .txt p {
    margin: 10px 0;
    font-size: 15px;
  }
  .home-slider .txt-form .txt {
    margin: 0 0 30px;
  }
  .home-slider .img {
    height: 100vh;
    max-height: 700px;
  }
  .tabs-form ul li a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 5px;
  }
  /*****footer****/
  footer .footer {
    padding: 30px 0;
  }
  footer .single-footer .logo {
    margin: 0 0 10px;
  }
  footer .footer .single-footer {
    margin: 0 0 15px;
  }
  footer .single-footer ul li {
    list-style: none;
    padding: 0 5px 5px;
    display: inline-block;
  }
  footer .single-footer ul li:after {
    content: "|";
    padding-left: 10px;
    color: #808080;
  }
  footer .single-footer ul li:last-child:after {
    content: "";
    padding: 0;
  }
  footer .single-footer h2 {
    font-size: 14px;
  }
  footer .single-footer p {
    font-size: 13px;
  }
  footer .single-footer.links1 ul li a:before {
    content: "";
    padding: 0;
  }
  footer .logo-txt {
    text-align: center;
    margin: 0 0 20px;
  }
  footer .footer .logo-txt img {
    width: 120px;
  }
  footer .col-sm-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  /**********************/
  .heading h2 {
    font-size: 22px;
  }
  .heading p {
    font-size: 14px;
  }
  .why-shipping-key .wrapper {
    padding: 20px;
  }
  .facility-body {
    margin: 0 -15px;
  }
  .facility-body .single-facility-wrapper {
    padding: 0 10px;
    width: 50%;
    margin: 0 0 20px;
  }
  .facility-body .single-facility-wrapper:last-child {
    width: 100%;
    margin: 0;
  }
  .our-services .service-txt {
    margin: 0 0 30px;
  }
  .our-services .facility-body {
    margin: 0 -10px;
  }
  .our-services .facility-body .single-facility-wrapper {
    float: left;
    padding: 0 10px;
    width: 50%;
    margin: 0 0 20px;
  }
  .our-services .facility-body .single-facility-wrapper:last-child {
    width: 100%;
    margin: 0;
  }
  .shipment-option-info .video {
    margin: 0 0 20px;
    border-radius: 15px;
    padding: 30% 0;
    max-width: 100%;
  }
  .shipment-option-info .button button,
  .shipment-option-info .button a {
    margin: 0 10px;
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 25px;
  }
  .shipment-option-info .button {
    margin: 60px -10px 0;
  }
  .single-testimonial {
    padding: 15px;
  }
  .single-testimonial img {
    width: 20px !important;
    margin: 0 0 10px;
  }
  .our-partners .perners ul li {
    padding: 0 10px;
    margin: 0 0 20px;
  }
  .our-partners .perners ul li img {
    max-height: 20px;
  }
  .our-partners .perners {
    padding: 20px 0 0;
  }
  .testimonial .testimonial-slider .item {
    padding: 20px 10px;
  }
  .single-testimonial p {
    font-size: 13px;
    font-weight: 400;
  }
  .single-package,
  .package-page .single-package {
    margin: 0 0 20px;
  }
  .single-package .body {
    padding: 15px;
  }
  .single-package .body .buttons .btn1 {
    padding: 5px 20px;
  }
  .login-signup .login-signup-body {
    padding: 20px 20px;
  }
  .tabs-form .tab-content {
    padding: 15px;
  }
  .login-signup .logo img {
    width: 150px;
  }
  .login-signup .logo {
    margin: 0 0 20px;
  }
  .banner h2 {
    font-size: 32px;
  }
  .banner {
    padding: 4.5em 0;
  }
  .about-us .two-box {
    display: block;
  }
  .about-us .two-box .single-box:first-child {
    border-bottom: 2px dashed #e0557d;
    border-right: 0;
  }
  .about-us .two-box .single-box {
    padding: 15px;
  }
  .about-us .two-box .single-box .heading {
    margin: 0 0 10px;
  }
  .service-list .col-lg-4 {
    margin: 0 0 30px;
  }
  .single-service {
    padding: 15px;
  }
  .book-qoute-form {
    padding: 20px 20px;
    border-radius: 20px;
  }
  .sub-heading h2 {
    font-size: 18px;
  }
  .working-process .single-process {
    padding: 20px 0 20px;
  }
  .working-process .single-process .txt h2 {
    font-size: 18px;
  }
  .how-work-page .two-btn {
    margin: 70px auto 0;
  }
  .two-btn .btn1 {
    max-width: 190px;
    padding: 8px 10px;
    margin: 0 10px 10px;
  }
  .how-work-page .how-it-works {
    padding-bottom: 30px;
  }
  .faq-page .col-lg-6:first-child {
    border: 0;
  }
  .faq-page .col-lg-6:first-child .custom-accordion,
  .faq-page .col-lg-6:last-child .custom-accordion {
    padding: 0;
  }
  .faq-page .custom-accordion ul li .quetion a {
    font-size: 15px;
  }
  .faq-page .custom-accordion ul li.title {
    margin: 10px 0;
    border: 0;
  }
  .contact-us .enquiry-form .form-body {
    padding: 15px;
  }
  .contact-us .social-working-hour {
    padding: 15px;
    border-radius: 20px;
    margin: 20px 0 0;
  }
  .contact-us .social-working-hour .working-hour {
    margin: 0 0 20px;
  }
  .contact-us .enquiry-form {
    margin: 0 0 30px;
  }
  .package-page .two-btn .btn1 {
    max-width: 150px;
  }
  .package-body .row {
    margin: 0 -10px;
  }

  .package-body .row .col-lg-4 {
    padding: 0 10px;
  }

  .package-body .single-package {
    margin: 0 0 20px;
  }

  .package-body .single-package .btn1 {
    padding: 5px 15px;
  }
  .thumpnail-slider .thumbnail-slider .owl-item {
    width: 90px !important;
    height: 70px;
  }
  .thumpnail-slider .slider-container {
    margin: 0 0 15px;
  }
  .thumpnail-slider #slider .item .content {
    border-radius: 10px;
  }
  .package-details .package-content .row .col-xs-12:first-child {
    border: 0;
  }
  .single-cart .img {
    width: 90px;
    height: 65px;
  }
  .single-cart .txt {
    margin-left: 105px;
  }
  .single-cart .txt h2 {
    font-size: 15px;
  }
  .single-cart .delete-btn {
    padding: 2px 6px;
    font-size: 13px;
  }
  .shopping-cart .cart-table {
    margin: 0 0 20px;
  }
  .shopping-cart .cart-invoice {
    padding: 0;
  }
  .payment-successfull-page .cart-invoice {
    margin: 0 0 40px;
  }
  .cart-invoice .table-data {
    padding: 15px;
  }
  .cart-invoice .c-button .btn1 {
    max-width: 135px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
  }
  .cart-invoice .c-button .btn1:first-child {
    margin-right: 5px;
  }
  .star-ratting-box .star-ratting .rating label {
    font-size: 2rem;
  }
  .home-slider.full-form .txt-form {
    padding: 3em 0;
  }
  .track-shipment-page .tracking-status {
    margin: 0 0 30px;
  }
  .tracking-info-cart {
    padding: 20px;
  }
  .tracking-status .single-status .left,
  .tracking-status .single-status .right {
    padding: 0 30px;
  }
  .tracking-status .single-status {
    margin: 0 -30px;
    padding: 15px 0;
  }
  .tracking-status .single-status h2,
  .tracking-status .single-status p {
    font-size: 14px;
  }
  .tracking-status .line span {
    width: 22px;
    height: 22px;
  }
  .tracking-info-cart .tracking-txt table tbody tr td {
    font-size: 14px;
    padding: 3px 4px;
  }
  .tracking-info-cart .tracking-txt table tbody tr td:first-child {
    padding-right: 10px;
  }
  .sub-service-section .content-image .img {
    margin: 0 0 20px;
  }
  .sub-service-section .content-image .txt-content h2 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .sub-service-text .sst-body {
    padding: 15px;
  }
  ul.offer-list li p {
    font-size: 15px;
  }
  .sub-service-text .sst-body .head h2 {
    font-size: 18px;
  }
  .sub-service-text .sst-body .services-list {
    column-count: 2;
  }
  .my-wishlist-page .single-cart {
    margin: 0 0 15px;
    padding: 10px;
  }
  .search-result-page .search-filter {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 576px) {
  .search-result table tr td {
    padding: 10px;
  }
  .tracking-status .single-status h2,
  .tracking-status .single-status p {
    font-weight: 400;
    font-size: 14px;
  }
  footer .single-footer ul li a {
    font-size: 13px;
  }
  .single-package,
  .package-page .single-package {
    margin: 0 0 15px;
  }
  .service-list .col-lg-4 {
    margin: 0 0 15px;
  }
  .working-process .line {
    display: none;
  }
  .working-process .single-process .dash-border {
    margin-top: 30px;
  }
  .single-process .number {
    left: 10px;
  }
  .working-process .single-process:nth-child(odd) .number {
    left: auto;
    right: 10px;
  }
  .how-work-page .two-btn .btn1:first-child {
    margin: 0 0 10px;
  }
  .how-work-page .how-it-works {
    padding-bottom: 10px;
  }
  .working-process .single-process .img {
    border-radius: 10px;
  }
  .how-work-page .two-btn {
    margin: 20px auto 0;
  }
  .tracking-info-cart {
    padding: 15px;
  }
  .tracking-info-cart .tracking-txt table tbody tr td:first-child {
    min-width: auto;
  }
  .profile-page .profile-warpper {
    padding: 15px;
  }
}

@media screen and (max-width: 476px) {
  .banner h2 {
    font-size: 28px;
  }
  .sub-service-text .sst-body .services-list {
    column-count: 1;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
}
